/*Padding for header, footer and education*/
header, footer, .education {
	padding: 30px;
}

/*Background color for header, footer and .education*/
header, footer{
	background-color: #2B2D42;
	color: #8D99AE;
}
.education{
	background-color: #8D99AE;
}
header{
	margin-bottom: 10px;
}
footer{
	margin-top: 10px;
}
/**/
body{
	font-family: "Helvetica";
}
h1{
	font-size: 80px;
}
h2{
	font-size: 40px;
}
h1, h2{
	color: #EDF2F4;
}
a {
	color: #EF233C;
}