body{
	background-color: grey;
}
h1 {
	font-family: Arial;
	font-size: 1.8em;
}
h2 {
	font-family: Arial;
	font-size: 1.5em;
}
h3 {
	font-family: Arial;
	font-size: 1.4em;
}
p.algemeen {
	font-family: Times New Roman;
	font-size: 1.2em;
	color: green;
}
p.opleiding {
	font-family: Times New Roman;
	font-size: 1.2em;
	color: red;
}
p.VrijeTijd {
	font-family: Times New Roman;
	font-size: 1.2em;
	color: blue;
}